.vs/
Debug/Cat's_Invasion.exe
Debug/Cat's_Invasion.ilk
Debug/Cat's_Invasion.pdb
Cat's_Invasion/Cat's_Invasion.vcxproj
Cat's_Invasion/Debug/Cat's_Invasion.log
Cat's_Invasion/Debug/Cat's_Invasion.tlog/CL.read.1.tlog
Cat's_Invasion/Debug/Cat's_Invasion.tlog/link.read.1.tlog
Cat's_Invasion/Debug/main.obj
Cat's_Invasion/Debug/vc142.idb
Cat's_Invasion/Debug/vc142.pdb

